.dark-bar {
    height: 40px;
}

.social-link {
    color: #fff !important;
}

.logo-home {
    width: 350px;
}

.speaker-summary {
    margin-top: 5px;
}

.text-red {
    color: red;
}

.reduced-width {
    width: 15%;
}

.red-border {
    border: 5px solid red;
}

.main-menu {
    gap: 20px;
}

.banner-area {
    background-image: url('../images/newbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.greeting-area {
    gap: 10px;
    background: linear-gradient(to left, #272a31 25%, #ec5242 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.greeting-area h1 {
    font-size: 90px;
    font-weight: 700;
    width: 100%;
}

.border-white {
    border: 2px solid #fff;
}

.para-summary {
    font-size: 16px;
    font-weight: 500;
}

.header-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diamond-bg {
    background-image: url("../images/diamond.png");
    background-repeat: repeat;
    background-color: #141619;
}

.header-underline {
    color: #ffc107;
    width: 30%;
    border-bottom: 3px solid #ffc107;
    margin: auto;    
}

.card-body {
    text-align: center;
}

.transparent-bg {
    background-color: #0000004f !important;
}

.card-image {
    display: flex;
    margin: auto;
}

.program-summary-header {
    color: #ec5242;
    font-weight: 500;
}

.card-para {
    color: #fff;
}

.see-program-more {
    color: #fff;
    text-transform: uppercase;
    margin: auto;
}

.img-wrapper {
    background-image: url("../images/image-bg-desk.png");
    background-position: top left;
    padding: 20px;
    background-size: 150px;
    background-repeat: no-repeat;    
}

.font-italics {
    font-style: italic;
    font-size: 16px;
}

.partners {
    color: rgb(210, 210, 210);
}

.three-rows h2 {
    font-size: 40px;
    font-weight: bold;
}

.three-rows h3 {
    background: linear-gradient(to left, rgb(210, 210, 210) 25%, #6f7175 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.two-rows h3 {
    background: linear-gradient(to left, rgb(210, 210, 210) 25%, #6f7175 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
}

.logo-footer {
    width: 350px;
}

.footer-header {
    font-size: 15px;
}

.footer-para {
    font-size: 13px;
}

.orange-btn {
    display: none;
}

.btn-wrapper {
    display: none;
}

.mobile-footer {
    display: none;
}

.x-mark-item {
    font-size: 30px;
    color: #000;
}

@media (max-width: 1440px)  {
    .mobile-footer {
        display: none;
    }
}

@media (max-width: 780px)  {
    /* html {
        width: 100vw;
    } */

    .program-summary-header {        
        font-size: 15px;        
    }

    .three-rows {
        justify-content: space-between;
    }

    .two-rows {
        justify-content: space-evenly;
    }

    .two-rows h3 {
        width: 300px;
    }

    .remove-padding {
        padding: 0 !important;
    }

    .font-italics {
        font-size: 12px;
    }

    .speaker-summary {
        font-size: 14px;
    }

    .btn-wrapper {
        display: none !important;
    }

    .navbar-collapse {
        height: 100vh;
    }
    
}    

@media (min-width: 480px)  {
   
    .greeting-area h1 {
        font-size: 40px;
    }

    .para-summary {
        font-size: 13px;
    }

    .date-header {
        font-size: 18px;
    }

    .col-wrapper {        
        margin-bottom: 10px;
    }

    .card-wrapper {    
        display: flex;
        gap: 9px;        
        align-items: center;
    }

    .card-image {
        width: 20%;
    }

    .program-summary-header {
        font-size: 18px;
    }

    .card-para {
        text-align: justify;
        font-size: 15px;
    }

    .orange-btn {
        display: flex;
        width: 70% !important;
        background-color: #ff4f38;
        padding: 20px;        
    }

    .join-program {
        color: #fff;
        text-decoration: none;
        text-align: center;
        margin: auto;
        font-weight: 500;
    }

    .remove-padding {
        padding: 0 !important;
    }

    .speaker-summary {
        font-size: 13px;
    }

    .font-italics {
        font-size: 13px;
    }

    .white-btn {
        display: flex;
        width: 100% !important;    
        height: 40px;
        background-color: #dee2e6;
    }

    .color-orange {
        margin-top: 3px;
        margin-left: 15px;        
        color: orangered;
    }

    .more-speaker {
        display: flex;        
        color: #000;
        text-decoration: none;
        text-align: center;
        margin: auto;
        font-weight: 500;
    }

    .three-rows {
        flex-wrap: nowrap !important;
        justify-content: center;
    }

    .three-rows-col {
        width: 50% !important;
    }

    .three-rows-col h3 {        
        margin-left: 30px;
        margin-top: 10px;        
    }

    .two-rows {
        flex-wrap: nowrap !important;
        justify-content: center;
        padding-top: 0 !important;
    }

    .two-rows-col {
        width: 70% !important;
    }

    .two-rows-col:first-child {
        width: 80% !important;
    }

    .two-rows-col h3 {
        margin-left: 30px;
        margin-top: 10px;
    }

    .mobile-footer {
        display: flex;
    }

    .logo-footer {
        width: 200px;
    }

    .footer-header {
        margin-left: 20px;
    }

    .footer-para {
        display: none;
    }
}
